*.class
*.log
flymd*
.#*

# sbt specific
.cache
.history
.lib/
.idea/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
test-output/

# Scala-IDE specific
.scala_dependencies
.worksheet
