#macro(arrBegin $flag)
#if($flag)List<#end
#end
#macro(arrEnd $flag)
#if($flag)>#end
#end

    @SerializedName("$field.origName()")
    private final #arrBegin($field.arr)$field.type()#arrEnd($field.arr) $field.name() = null;
    public #arrBegin($field.arr)$field.type()#arrEnd($field.arr) get$field.name().capitalize()() {
        return $field.name();
    }
